<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Hotel Reservation Application</title>
    <link rel="stylesheet" type="text/css" href="css/hotel.css">
     <link rel="stylesheet" type="text/css" href="css/style.css">
   <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css">
  <link rel="stylesheet" type="static/text/css" href="css/bootstrap-reboot.css">
  <link rel="stylesheet" type="static/text/css" href="css/bootstrap-reboot.min.css">
  <script type="text/javascript" src="js/bootstrap.bundle.js"> </script>
  <script type="text/javascript" src="js/bootstrap.bundle.min.js"> </script>
  <script type="text/javascript" src="js/bootstrap.js"> </script>
  <script type="text/javascript" src="js/bootstrap.min.js"> </script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="assets/css/A.bootstrap.min.css+template.css+fa.min.css+gfonts.min.css,Mcc.LI5f1xXhbm.css.pagespeed.cf.G00NPyYGCq.css" rel="stylesheet" media="screen" />
 
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  
<script>if ( top !== self ) top.location.replace( self.location.href );// Hey, don't iframe my iframe!</script>
  
  
  
  
  <script>
            // "$(window).load(function() {"
                $(function () {
            
                  // Slideshow 1
                  $("#slider1").responsiveSlides({
                    maxwidth: 1600,
                    speed: 600
                  });
            });
  </script>
</head>

<div th:replace="fragments :: menu"></div>

<body>

<div class="container" style="height:600px;">

<h1 style="color:orange; margin-top:20px;">Add Hotel Details</h1>
<form th:action="@{/saveHotel}" th:object="${hotel}" method="post" class="form needs-validation">
    <div class="form-group">
        <label for="hotelName">Hotel Name</label>
        <input class="form-control" type="text" th:field="*{hotelName}" id="hotelName" placeholder="Hotel Name">
        <div  th:if="${#fields.hasErrors('hotelName')}" th:errors="*{hotelName}"></div>
    </div>
    <div class="form-group">
        <label for="location">Location</label>
        <input class="form-control" type="text" th:field="*{location}" id="location" placeholder="Location">
        <div class="alert alert-warning" th:if="${#fields.hasErrors('location')}" th:errors="*{location}"></div>
    </div>
    
    <div class="form-group">
        <label for="type">Type</label>
        <input class="form-control" type="text" th:field="*{type}" id="email" placeholder="type">
        <div class="alert alert-warning" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
    </div>
    
    <div class="form-group">
        <label for="description">Description</label>
        <input class="form-control" type="text" th:field="*{description}" id="description" placeholder="type">
        <div class="alert alert-warning" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    </div>
    
    
    
   <input type="submit"  class="btn btn-secondary mb-3" value="Add Hotel">
    <a  th:href = "@{/getHotels}" class=" btn btn-secondary btn-md mb-3 "> Hotel List</a>
</form>
</div>
 


</body>
<div th:replace="fragments :: pageFooter"></div>
</html>