<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Hotel Reservation Application</title>
    <link rel="stylesheet" type="text/css" href="css/hotel.css">
     <link rel="stylesheet" type="text/css" href="css/style.css">
   <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css">
  <link rel="stylesheet" type="static/text/css" href="css/bootstrap-reboot.css">
  <link rel="stylesheet" type="static/text/css" href="css/bootstrap-reboot.min.css">
  <script type="text/javascript" src="js/bootstrap.bundle.js"> </script>
  <script type="text/javascript" src="js/bootstrap.bundle.min.js"> </script>
  <script type="text/javascript" src="js/bootstrap.js"> </script>
  <script type="text/javascript" src="js/bootstrap.min.js"> </script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="assets/css/A.bootstrap.min.css+template.css+fa.min.css+gfonts.min.css,Mcc.LI5f1xXhbm.css.pagespeed.cf.G00NPyYGCq.css" rel="stylesheet" media="screen" />
 
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  
</head>

<div th:replace="fragments :: menu"></div>

<body>
<div class="content">
                <div class="quit">
                    <p><span class="start">Your </span> hotel's <span class="end">Motto .</span></p>
                </div>
                    <div class="content-grids">
                        <div class="wrap">
                        <div class="content-grid">
                            <div class="content-grid-pic">
                                <a href="#"><img src="Images/icon1.png" title="image-name" /></a>
                            </div>
                            <div class="content-grid-info">
                                <h3>Best food Ever</h3>
                                <p>"DESCRIPTION"</p>
                                <a href="#">Read More</a>
                            </div>
                            <div class="clear"> </div>
                        </div>
                        <div class="content-grid">
                            <div class="content-grid-pic">
                                <a href="#"><img src="Images/icon2.png" title="image-name" /></a>
                            </div>
                            <div class="content-grid-info">
                                <h3>24x7 phone support</h3>
                                <p>"DESCRIPTION"</p>
                                <a href="#">Read More</a>
                            </div>
                            <div class="clear"> </div>
                        </div>
                        <div class="content-grid">
                            <div class="content-grid-pic">
                                <a href="#"><img src="Images/iocn3.png" title="image-name" /></a>
                            </div>
                            <div class="content-grid-info">
                                <h3>Best Room Services</h3>
                                <p>"DESCRIPTION"</p>
                                <a href="#">Read More</a>
                            </div>
                            <div class="clear"> </div>
                        </div>
                        
                        <div class="clear"> </div>
                    </div>
                </div>
</div>


<div class="container" style=" width:1000px; height:600px;" >

<h1 style="color:orange; margin-top:20px;">Add User Details</h1>
<form th:action="@{/saveUser}" th:object="${user}" method="post" class="form needs-validation">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input class="form-control" type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
        <div  th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input class="form-control" type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
        <div class="alert alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    </div>
    
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="text" th:field="*{email}" id="email" placeholder="Email">
        <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>
    
    <div class="form-group">
        <label for="contactNo">Contact No</label>
        <input class="form-control" type="text" th:field="*{contactNo}" id="contactNo" placeholder="Contact No">
        <div class="alert alert-warning" th:if="${#fields.hasErrors('contactNo')}" th:errors="*{contactNo}"></div>
    </div>
    
    <div class="form-group">
        <label for="address">Address</label>
        <input class="form-control" type="text" th:field="*{address}" id="address" placeholder="Address">
        <div class="alert alert-warning" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
    </div>
    
    
    <input type="submit"  class="btn btn-secondary mb-3" value="Add User">
    <a  th:href = "@{/getUsers}" class=" btn btn-secondary btn-md mb-3 "> User List</a>
</form>
</div>

<div class="content-box-left-bootomgrids" style="margin-top:30px;">
                            <div class="content-box-left-bootomgrid">
                                <h3>Deluxe Rooms</h3>
                                <p> Your description about deluxe rooms</p>
                                <a href="#"><img src="images/slider1.jpg" title="image-name" /></a>
                            </div>
                            <div class="content-box-left-bootomgrid">
                                <h3>Luxury Rooms</h3>
                                <p>Your description about Luxury rooms</p>
                                <a href="#"><img src="images/slider2.jpg" title="image-name" /></a>
                            </div>
                            
                            <div class="content-box-left-bootomgrid lastgrid">
                                <h3>Executive Rooms</h3>
                                <p>Your description about Executive rooms</p>
                                <a href="#"><img src="images/slider3.jpg" title="image-name" /></a>
                            </div>
                            <div class="clear"> </div>
                        </div>
                        
</body>
<div th:replace="fragments :: pageFooter"></div>
</html>